<footer>
  <div class="footer-up">
    <div class="footer-up-left">
      <div class="footer-up-left-tittle helper-title">
        <span class="helper-color">SKONTAKTUJ SIĘ</span> Z NAMI
      </div>

      <div class="footer-up-left-pair-address">
        <svg
          class="footer-up-left-pair_svg"
          width="30"
          height="35"
          viewBox="0 0 30 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M30 12.4658C30 19.3504 24.3678 26.4658 15 35C4.94253 26.6096 0 19.3504 0 12.4658C0 5.58111 6.71573 0 15 0C23.2843 0 30 5.58111 30 12.4658Z"
            fill="#258A78"
          />
          <circle cx="15" cy="13" r="5" fill="black" fill-opacity="0.65" />
        </svg>
        <div class="footer-up-left-pair_text">
          ul. Dworcowa 15, 43&nbsp;-&nbsp;178&nbsp;Ornontowice
        </div>
      </div>

      <div class="footer-up-hr"></div>

      <div class="footer-up-left-pair-telephone">
        <svg
          class="footer-up-left-pair_svg"
          width="37"
          height="37"
          viewBox="0 0 37 37"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.8263 9.56253L9.16107 1.26686C9.10623 1.09619 8.9427 0.978874 8.75856 1.00319C7.48873 1.17087 4.55108 2.25075 3.09428 4.60397C1.10277 7.82094 0.117818 8.83897 2.02459 17.7976C3.93136 26.7563 20.7465 36 24.0584 36C25.2025 36 29.8635 35.9186 32.162 34.0861C35.0322 31.7978 35.9078 31.0266 35.9994 29.4519C36.0084 29.2978 35.917 29.1553 35.7739 29.0853L28.4404 25.4996C28.2831 25.4227 28.0923 25.446 27.9707 25.5689C26.5576 26.9967 25.1163 30.1699 22.2891 29.1996C21.0467 28.7731 14.874 24.3031 11.938 21.6527C11.9174 21.6341 11.9004 21.6154 11.8841 21.5933C10.652 19.9338 7.18698 16.3405 7.72795 13.4101C7.7439 13.3238 7.79252 13.2465 7.86146 13.1891L11.699 9.99029C11.8259 9.88453 11.8758 9.71675 11.8263 9.56253Z"
            fill="#258A78"
            stroke="#258A78"
            stroke-width="2"
          />
        </svg>
        <div class="footer-up-left-pair_text">+48 504 422 483</div>
      </div>

      <div class="footer-up-hr"></div>

      <div class="footer-up-left-pair-email">
        <svg
          class="footer-up-left-pair_svg"
          width="49"
          height="33"
          viewBox="0 0 49 33"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M1 32V1H48V32H1Z" fill="#258A78" />
          <path
            d="M1 1V32H48V1M1 1H48M1 1L24.2389 15.105L48 1"
            stroke="#2E2D2C"
          />
        </svg>
        <div class="footer-up-left-pair_text">piotrkasperczyk20@interia.pl</div>
      </div>
    </div>

    <div class="footer-up-right">
      <div class="footer-up-right-tittle helper-title">
        <span class="helper-color">JAK DO NAS</span> DOJECHAĆ?
      </div>

      <div class="footer-up-right-text">
        Na mapie poniżej sprawdzisz trasę dojazdu. Wybierz punkt początkowy, a
        Google Maps pokaże Ci dokładną drogę do siedziby firmy.
      </div>

      <button (click)="guzior()" class="footer-up-right-button helper-color">
        Mapa dojazdu
      </button>
    </div>
  </div>
  <div class="footer-down">Maciej Urbaś & Daria Łopata &copy; 2022</div>
</footer>
