<nav>
  <div class="logo">
    <img class="logo_img" src="/assets/UsługiBudowlaneTransparent.png" />
  </div>

  <div class="content">
    <div class="content-up">
      <div class="content-up-pairs">
        <svg
          class="content-up-pairs-icons"
          width="36"
          height="22"
          viewBox="0 0 36 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M1 21V1H35V21H1Z" fill="#258A78" />
          <path
            d="M1 1V21H35V1M1 1H35M1 1L17.8111 10.1L35 1"
            stroke="#2E2D2C"
          />
        </svg>
        <p class="content-up-pairs-p p_content">piotrkasperczyk20@interia.pl</p>
      </div>

      <svg
        class="content-up-limiterSvg"
        width="5"
        height="49"
        viewBox="0 0 5 49"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          x1="2.5"
          y1="1.09278e-07"
          x2="2.5"
          y2="49"
          stroke="white"
          stroke-opacity="0.27"
          stroke-width="5"
        />
      </svg>

      <div class="content-up-pairs">
        <svg
          class="content-up-pairs-icons"
          width="27"
          height="27"
          viewBox="0 0 27 27"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.73305 7.1161L6.82933 1.19062C6.79017 1.06871 6.67336 0.98491 6.54183 1.00228C5.6348 1.12205 3.53648 1.89339 2.49592 3.57426C1.0734 5.8721 0.36987 6.59927 1.73185 12.9983C3.09383 19.3974 15.1047 26 17.4703 26C18.2875 26 21.6168 25.9418 23.2585 24.6329C25.3087 22.9985 25.9341 22.4476 25.9996 21.3228C26.006 21.2127 25.9407 21.111 25.8385 21.061L20.6003 18.4997C20.4879 18.4448 20.3517 18.4614 20.2648 18.5492C19.2554 19.5691 18.2259 21.8357 16.2065 21.1425C15.3191 20.838 10.91 17.6451 8.81283 15.7519C8.79814 15.7387 8.78603 15.7253 8.77433 15.7095C7.89426 14.5242 5.41927 11.9575 5.80568 9.86437C5.81707 9.80269 5.8518 9.74753 5.90104 9.70649L8.64217 7.42163C8.7328 7.3461 8.76845 7.22625 8.73305 7.1161Z"
            fill="#258A78"
            stroke="#258A78"
            stroke-width="2"
          />
        </svg>

        <p class="content-up-pairs-p p_content">+48 504 422 483</p>
      </div>

      <svg
        class="content-up-limiterSvg"
        width="5"
        height="49"
        viewBox="0 0 5 49"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          x1="2.5"
          y1="1.09278e-07"
          x2="2.5"
          y2="49"
          stroke="white"
          stroke-opacity="0.27"
          stroke-width="5"
        />
      </svg>

      <div class="content-up-pairs">
        <svg
          class="content-up-pairs-icons"
          width="20"
          height="25"
          viewBox="0 0 20 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20 8.90411C20 13.8217 16.2452 18.9041 10 25C3.29502 19.0068 0 13.8217 0 8.90411C0 3.98651 4.47715 0 10 0C15.5228 0 20 3.98651 20 8.90411Z"
            fill="#258A78"
          />
          <ellipse
            cx="9.99984"
            cy="9.28578"
            rx="3.33333"
            ry="3.57143"
            fill="black"
            fill-opacity="0.65"
          />
        </svg>

        <p class="content-up-pairs-p p_content">
          ul. Dworcowa 15, 43-178 Ornontowice
        </p>
      </div>
    </div>

    <div class="content-down">
      <a href="" class="content-down-a">Strona główna</a>
      <a href="" class="content-down-a">Oferta</a>
      <a href="" class="content-down-a">Galeria</a>
      <a href="" class="content-down-a"
        ><button class="content-down-kontaktButton">Kontakt</button></a
      >
    </div>
  </div>

  <div class="menuButton">
    <button class="menuButton_button">Burger</button>
  </div>
  <img class="nav-baner" src="/assets/baner-min.png" />
</nav>
