body {
  max-width: 1920px;

  position: absolute;
  left: 0;
  top: 0;

  margin: 0;
  padding: 0;

  color: white;
  font-weight: 400;
}

@font-face {
  font-family: "JockeyOne";
  src: url(../assets/fonts/font2.woff2) format("woff2");
}

@font-face {
  font-family: "Inder";
  src: url(../assets/fonts/Inder-Regular.ttf) format("ttf");
}
