/* You can add global styles to this file, and also import other style files */
html {
  background-color: #e7dac7;

  position: absolute;
  left: 0px;

  margin: 0;
  padding: 0;

  overflow-x: hidden;
}
