<main>
  <div class="expirience">
    <div class="expirience-up">
      <div class="expirience-up-numbers">01</div>
      <div class="expirience-up-supContainer">
        <div class="expirience-up-supContainer-title">
          DOŚWIADCZENIE I&nbsp;JAKOŚĆ
        </div>
        <div class="expirience-up-supContainer-text">
          Nasz personel chwali się wieloletnim doświadczeniem.<br />
        </div>
        <div class="expirience-up-supContainer-text2">
          Nasz personel chwali się wieloletnim doświadczeniem. Do naszych zadań
          podchodzimy rzetelnie, wykonując je w wyznaczonych terminach
        </div>
      </div>
    </div>
    <div class="expirience-down">
      Do naszych zadań podchodzimy rzetelnie, wykonując je w wyznaczonych
      terminach
    </div>
  </div>

  <div class="short">
    <div class="short-left">
      <img src="/assets/galeria/1.jpg" class="short-left-img" />
    </div>
    <div class="short-right">
      <div class="short-right-title">W skrócie o firmie</div>
      <div class="short-right-text">
        Firma
        <b>USŁUGI BUDOWLANE PIOTR KASPERCZYK Z&nbsp;POWODZENIEM ŚWIADCZY</b>
        usługi budowlane dla osób prywatnych jak i dla firm. Zajmujemy się
        budową domów oraz kompleksowymi remontami domów i mieszkań.
        Współpracujemy z biurami projektowymi, pomagamy w przygotowaniu
        dokumentacji i uzyskaniu pozwoleń. Jesteśmy terminowi i rzetelni w
        wykonywanych przez nas zadaniach.
      </div>
    </div>
  </div>

  <div class="contact">
    <div class="contact-left">
      Jeżeli macie pytania odnośnie naszej oferty lub jesteście zainteresowani
      nawiązaniem współpracy, serdecznie zapraszamy do
      <span class="contact-left-span">kontaktu</span>!
    </div>
    <div class="contact-right">
      <img src="assets/galeria/5.jpg" class="contact-right-img" />
    </div>
  </div>

  <app-footer></app-footer>
</main>
