<main>
  <div class="galery-title">
    <div class="galery-title-bigger">GALERIA</div>
    <div class="galery-title-smaller">GALERIA</div>
  </div>

  <div class="galery">
    <div class="galery-row-one">
      <img
        class="galery-double galery-small"
        src="../../assets/galeria/2.jpg"
      />
      <img
        class="galery-double galery-small"
        src="../../assets/galeria/8.jpg"
      />
    </div>

    <div class="galery-row-two">
      <img class="galery-one galery-small" src="../../assets/galeria/7.jpg" />
    </div>

    <div class="galery-row-three">
      <img
        class="galery-double galery-small"
        src="../../assets/galeria/3.jpg"
      />
      <img
        class="galery-double galery-small"
        src="../../assets/galeria/11.jpg"
      />
    </div>

    <div class="galery-row-four">
      <img class="galery-one galery-small" src="../../assets/galeria/10.jpg" />
    </div>
  </div>

  <app-footer></app-footer>
</main>
